# Part 2: Use an API to extract box office revenue and profit data to add to your IMDB data and perform exploratory data analysis.

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [2]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (2.9.1)
Requirement already satisfied: requests in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (1.26.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (2022.6.15.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniforge/base/envs/dojo-env/lib/python3.8/site-packages (from requests->tmdbsimple) (3.3)

In [37]:
# Load API Credentials
# Load API Credentials
with open('/Users/lbodden/.secret/tmdb_api.json') as f:   #use your path here!
    login = json.load(f)
# Instantiate YelpAPI Variable
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)

In [38]:
import tmdbsimple as tmdb
tmdb.API_KEY =  login['api-key']

In [39]:
movie = tmdb.Movies('tt0848228')

In [40]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 184.117,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27578}

In [41]:
info['budget']

220000000

In [42]:
info['revenue']

1518815515

In [43]:
info['imdb_id']

'tt0848228'

In [44]:
# Function to get the certification.
def get_movie_certification(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    
    for c in releases['countries']:
        if c['iso_3166_1'] == "US":
            info['certifcation'] = c['certification']     
    return info

In [45]:
test = get_movie_certification("tt0848228") 
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 184.117,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.706,
 'vote_count': 27578,
 'certifcation': 'PG-13'}

In [46]:
movie = tmdb.Movies('tt0332280')

In [47]:
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 59.094,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.879,
 'vote_count': 9845}

In [48]:
info['budget']

29000000

In [49]:
info['revenue']

115603229

In [50]:
info['imdb_id']

'tt0332280'

In [54]:
# Function to get the certification.
def get_movie_certification(movie_id):
    movie = tmdb.Movies(movie_id)
    info = movie.info()
    releases = movie.releases()
    
    for c in releases['countries']:
        if c['iso_3166_1'] == "US":
            info['certifcation'] = c['certification']     
    return info

In [55]:
test = get_movie_certification("tt0332280") 
test

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 59.094,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.879,
 'vote_count': 9845,
 'certifcation': 'PG-13'}

In [56]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0332280", "tt0848228"]
results = []
for movie_id in test_ids:
    movie_info = get_movie_certification(movie_id)
    results.append(movie_info)
    
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation
0,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.879,9845,PG-13
1,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.706,27578,PG-13

In [20]:
def write_json(new_data, filename):    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [21]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmbd_data.csv.gz',
 'genres.csv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'tmdb_api_results_2001.json',
 'title_basics.csv.gz',
 'title_genres.csv.gz',
 'title_aka.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'tmdb_results_combined.csv.gz',
 'title_ratings.csv.gz']

In [22]:
basics_df = pd.read_csv('Data/title_basics.csv.gz', low_memory = False)

In [23]:
basics_df['startYear'] = basics_df['startYear'].astype(int)
basics_df

,tconst,primaryTitle,startYear,runtimeMinutes
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0088751,The Naked Monster,2005,100
4,tt0096056,Crime and Punishment,2002,126
...,...,...,...,...
79700,tt9914942,Life Without Sara Amat,2019,74
79701,tt9915872,The Last White Witch,2019,97
79702,tt9916170,The Rehearsal,2019,51
79703,tt9916190,Safeguard,2020,95
79704,tt9916362,Coven,2020,92

In [24]:
# Let's confirm we don't have missing data.
basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79705 entries, 0 to 79704
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79705 non-null  object
 1   primaryTitle    79705 non-null  object
 2   startYear       79705 non-null  int64
 3   runtimeMinutes  79705 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.4+ MB

In [25]:
YEARS_TO_GET = [2000, 2001]
errors = [ ]

In [26]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    # Defining the JSON file to store results for year.
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if the file exists.
    file_exists = os.path.isfile(JSON_FILE)
    # If it does exist: notify me.
    if file_exists == True:
        print(f'{YEAR} {JSON_FILE} already exists.')
    # If it does not exist: create it.
    else:
    # Save an empty dict with just "imdb_id" to the new json file.
        with open(JSON_FILE,'w') as file:
            json.dump([{'imdb_id':0}], file)

    # Saving new year as the current df.        
    df = basics_df.loc[basics_df['startYear'] == YEAR].copy()
    # Saving movie ids to list.
    movie_ids = df['tconst'].copy()
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    
    # Filter out any ids that are already in the JSON_FILE.
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    
    # Start of INNER Loop.
    
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                      desc=f'Movies from {YEAR}',
                                      position=1,
                                      leave=True):
            try:
                # Retrieve then data for the movie id.
                temp = get_movie_certification(movie_id)  
                # Append/extend results to existing file using a pre-made function.
                write_json(temp,JSON_FILE)
                # Short 20 ms sleep to prevent overwhelming server.
                time.sleep(0.02)

            except Exception as e:
                errors.append([movie_id, e])

    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

2000 Data/tmdb_api_results_2000.json already exists.

Movies from 2000:   0%|          | 0/1413 [00:00<?, ?it/s]

KeyboardInterrupt:

In [ ]:
movies_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz', low_memory = False)
movies_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz', low_memory = False)

In [ ]:
movies_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
movies_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')


movies_2000_and_2001 = pd.concat([movies_2000, movies_2001])
movies_2000_and_2001.head()

In [ ]:
movies_2000_and_2001[movies_2000_and_2001['imdb_id'] == '0']

In [ ]:
movies_2000_and_2001.drop(index=movies_2000_and_2001.index[0], axis=0, inplace=True)
movies_2000_and_2001

In [ ]:
movies_2000_and_2001.info()

In [ ]:
movies_2000_and_2001.describe()

In [ ]:
movies_2000_and_2001.to_csv(f'./Data/tmdb_results_combined.csv.gz', compression='gzip', index=False)

## Exploratory Data Analysis

- How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

In [ ]:
money = movies_2000_and_2001[(movies_2000_and_2001['budget'] > 0) \
                                                               & (movies_2000_and_2001['revenue'] > 0)]

In [ ]:
valid_financial_info = len(money)
print(f'We identified {valid_financial_info} movies that had at least some valid finalcial information.')

valid_fin_info_impact = round(valid_financial_info/len(movies_2000_and_2001)*100,2)
print(f'This means that just the {valid_fin_info_impact}% are "profitable".')

In [ ]:
# Checking the general info.
money.info()

- How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [ ]:
movies_2000_and_2001['certifcation'].value_counts()

In [ ]:
# Locate '-' value.
movies_2000_and_2001[movies_2000_and_2001['certifcation'] == '-']

In [ ]:
# Set dataframe to plot.
movies_2000_and_2001['certifcation'].value_counts(ascending=False)

In [ ]:
# Let's plot our horizontal bar graph.
## Code inspired in https://machinelearningknowledge.ai/seaborn-countplot-tutorial-for-beginners/
fig, ax = plt.subplots(figsize=(16,8))
ax = sns.countplot(data=movies_2000_and_2001, y='certifcation', palette='rainbow',
                   order=movies_2000_and_2001['certifcation'].value_counts(ascending=False).index)
ax.set_ylabel('Certification Category', fontsize=15,labelpad=10)
ax.set_xlabel('# of Movies', fontsize=15,labelpad=10)
ax.set_title('Number of Movies per Rating', fontsize=20)
plt.savefig('number_movies_rating.png', pad_inches=1, bbox_inches='tight');

- What is the average revenue per certification category?

In [ ]:
movies_2000_and_2001.groupby('certifcation')['revenue'].mean().sort_values(ascending=False)

In [ ]:
# Plot the results.
fig, ax = plt.subplots(figsize=(16,8))
ax = sns.barplot(data=movies_2000_and_2001, x='revenue', y='certifcation', palette='rainbow', ci=None)
ax.set_ylabel('Certification Category', fontsize=15,labelpad=10)
ax.set_xlabel('Revenue  ($ 10^7)', fontsize=15,labelpad=10)
ax.set_title('AVG Revenue in Movies per Certification', fontsize=20)
plt.savefig('avg_revenue_certification', pad_inches=1, bbox_inches='tight');

- What is the average budget per certification category?

In [ ]:
movies_2000_and_2001.groupby('certifcation')['budget'].mean().sort_values(ascending=False)

In [ ]:
# Plot the results.
fig, ax = plt.subplots(figsize=(16,8))
ax = sns.barplot(data=movies_2000_and_2001, x='budget', y='certifcation', palette='rainbow', ci=None)
ax.set_ylabel('Certification Category', fontsize=15,labelpad=10)
ax.set_xlabel('Budget  ($ 10^7)', fontsize=15,labelpad=10)
ax.set_title('AVG Budget in Movies per Certification', fontsize=20)
plt.savefig('avg_budget_certification', pad_inches=1, bbox_inches='tight');